.searchbar{
    opacity: 100%;
    position: absolute;
    border: none;
    padding: 10px 50px;
    border-radius: 20px;
    z-index: 900;
    margin-top: 5rem;
    margin-left: 2rem;
    width: 400px;
    box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
.searchicon{
    position: absolute;
    z-index: 950;
    margin-top: 5.5rem;
    font-size: 1.6rem;
    margin-left: 2.8rem;    
}
.entericon{
    position: absolute;
    z-index: 950;
    margin-top: 5rem;
    font-size: 1.6rem;
    margin-left: 24.5rem;
    color: #1a73e8;
}
.suggestions{
    padding: 10px 0px;
    position: absolute;
    z-index: 950;
    max-height: 250px;
    width: 400px;
    overflow-y: scroll;
    margin-top: 8rem;
    margin-left: 2rem;
    background-color: white;
}
.suggestionplace{
    margin-left: 2rem;
}