.mainside{
    position: absolute;
    z-index: 1000;
    width: 450px;
    height: 100%;
}
.opensidebar{
    position: absolute;
    z-index: 1000;
    border-radius: 6px;
    height: 90px;
    padding: 5px;
    background-color: white;
    margin-top: 22rem;
    cursor: pointer;
}
.hospitalimg{
    display: block;
    margin: auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.cardheader{
    display: flex;
    justify-content: space-between;
    background-color: #557A95;
}